.header{
    position: absolute;
    width: 100%;
    height: .88rem;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1;
    background: #fff;
    display: block;
    zoom: 1;
    box-sizing: border-box;
    .view{
        width: 7.1rem;
        height: .58rem;
        margin: .15rem .2rem;
        line-height: .58rem;
        font-size: .3rem;
        color: #333;
        .back{
            height: 100%;
            width: .8rem;
            float: left;
            line-height: .58rem;
            font-size: .3rem;
            color: #333;
            img{
                width: .58rem;
            }
        };
        .ctl{
            width: 5.5rem;
            height: .58rem;
            background: #f1f2f6;
            border-radius: .28rem;
            float: left;
            img{
                width: .58rem;
                height: .58rem;
                float: left;
            };
            .key{
                width: 4.64rem;
                height: .58rem;
                padding: 0;
                float: left;
                background: #f1f2f6;
                border: 0;
                box-shadow: none;
                outline: none;
            }   
        }
        .btn{
            float: right;
            text-align: right;
            height: 100%;
            width: .8rem;
            img{
                width: .58rem;
            }
        }
    };
}

.searchresult{
    position: absolute;
    top: .88rem;
    bottom: 0;
    width: 100%;
    padding: 0 .2rem;
    background: #fff;
    .resultcount{
        width: 100%;
        height: .7rem;
        line-height: .7rem;
        text-align: center;
        font-size: .24rem;
        color: #666;
    };
    .goodlist{
        font-size: .28rem;
        width: 100%;
        overflow-y: scroll;
        list-style: none outside none;
        li{
            width: 100%;
            height: 2.92rem;
            padding: .4rem 0 .32rem;
            border-bottom: .01rem solid #e5e5e5;
            .fl{
                float: left;
                width: 2.2rem;
                height: 2.2rem;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    font-size: .26rem;
                }
            }
            .fr {
                margin-left: .2rem;
                float: right;
                width: 4.6rem;
                height: 100%;
                .name {
                    width: 100%;
                    line-height: .42rem;
                    font-size: .3rem;
                    font-weight: 600;
                    letter-spacing: .02rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-bottom: .1rem;
                }
                .intro {
                    width: 100%;
                    height: .34rem;
                    font-size: .24rem;
                    line-height: .32rem;
                    letter-spacing: .01rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    margin-bottom: .18rem;
                }
                .mark {
                    overflow: hidden;
                    width: 2.1rem;
                    height: .4rem;
                    margin-bottom: .04rem;
                }
                .price{
                    .wrap {
                        float: left;
                        line-height: .5rem;
                        .realprice {
                            font-size: .32rem;
                            color: #ff5918;
                            margin-right: .2rem;
                        };
                        .oldprice{
                            font-size: .24rem;
                            text-decoration: line-through;
                            color: #ccc;
                        }
                    };
                    .addcart {
                        float: right;
                        width: .52rem;
                        height: .52rem;
                        img {
                            width: 100%;
                            height: 100%;
                            font-size: .26rem;
                        }
                    }

                }
            }
        }
    }
    .nogoods{
        width: 100%;
        line-height: .7rem;
        font-size: .26rem;
        color: #999;
        text-align: center;
    }
    a:after, div:after, ul:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}