ul li {
  width: 100%;
  padding: 0 .24rem .4rem;
}

ul li img {
  width: 100%;
}

ul li .package-info {
  width: 100%;
  font-size: .36rem;
  line-height: .6rem;
  padding: 0 .1rem;
}

ul li .package-info .package-name, ul li .package-info .package-price {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

ul li .package-info .package-price {
  width: 44%;
  color: red;
  float: right;
  text-align: right;
}

ul li .package-info p {
  font-size: 0.26rem;
  color: #4c4c4c;
  line-height: .3rem;
  padding: 0 .1rem;
}
