header {
    position: fixed;
    top: 0;
    width: 100%;
    height: .96rem;
    background: #fff;
    border-bottom: 0.02rem solid #e5e5e5;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;

    .back {
        position: absolute;
        /* top: .32rem; */
        /* left: .32rem; */
        left: 0;
        display: inline-block;
        width: .8rem;
        height: .96rem;
        text-align: center;
        line-height: .96rem;

        img {
            width: .16rem;
            height: .31rem;
            display: inline-block;
        }
    }

    p {
        font-size: .36rem;
        line-height: .96rem;
    }
}

.evaluate_top {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #fff;
    height: .87rem;
    top: .96rem;
    border-bottom: .02rem solid #e5e5e5;

    li {
        height: .87rem;
        line-height: .9rem;
        span {
            font-style: normal;
            color: #000 !important;
            text-decoration: none;
            color: #686868;
            font-size: .26rem;

            b {
                top: -.05rem;
                line-height: .26rem;
            }
        }
    }
}
.evaluate_list{
    padding-bottom: 1rem;
    margin-top: 1.81rem;
    overflow: auto;
    width: 100%;
}
.active{
    border-bottom: .05rem solid #ef6100;
}
.shopcar {
    position: fixed;
    bottom: -.01rem;
    height: .98rem;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    border-top: 0.02rem solid #e5e5e5;
    .carimg {
        position: absolute;
        left: .32rem;
        bottom: 0rem;
        display: inline-block;  
         img {
            width: .65rem;
            display: inline-block;
        }
        .shopnum {
            display: inline-block;
            width: .32rem;
            height: .32rem;
            border-radius: 50%;
            font-size: .26rem;
            background-color: #ff0000;
            color: #fff;
            text-align: center;
            line-height: .32rem;
            position: absolute;
            left: .5rem;
            top: -.1rem;
        }
        
    }
    .gocheck {
        font-size: .3rem;
        left: .1rem;
        bottom: .28rem;
        display: none;
    }
    .carbtn {
        display: block;
        text-align: center;
        line-height: .72rem;
        background-color: #f47d31;
        color: #fff;
        float: right;
        top: .11rem;
        right: .15rem;
        font-size: .32rem;
        width: 2.98rem;
        height: .72rem;
        border-bottom: 0.02rem solid #ff7805;
        position: absolute;
    }
}