header{
    position: absolute;
    width: 100%;
    color: #666;
    height: 1.1rem;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1;
    background: #fff;
    .searchct1{
        width: 87%;
        height: .68rem;
        margin: .12rem .24rem;
        line-height: .62rem;
        border-radius: .12rem;
        padding: 0 .24rem;
        border: .01rem solid #ccc;
        overflow: hidden;
        position: relative;
        img{
            width: .4rem;
            height: .4rem;
            float: left;
            margin-top: .14rem;
        }
        .searchkey{
            width: 6.12rem;
            height: .62rem;
            padding: 0;
            float: right;
            font-size: .28rem;
            line-height: .68rem;
            color: #ccc;
            border: 0;
            position: relative;
            left: 5px;
        }
    }
}