.delivery-coupon {
  font-size: .266667rem;
  color: #373737;
  background: white;
}

.delivery-coupon .delivery-coupon__top-pic border--bottom {
  width: 100%;
  height: 3.7rem;
  border-bottom: .186667rem solid #f4f4f4;
}

.delivery-coupon .step-container {
  display: flex;
  align-items: center;
  height: 2.666667rem;
  border-bottom: .186667rem solid #f4f4f4;
}

.delivery-coupon .step-container .step-container__item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.delivery-coupon .step-container .step-container__item div img {
  width: 1.253333rem;
  height: 1.253333rem;
}

.delivery-coupon .step-container .step-container__item div font {
  vertical-align: inherit;
}

.delivery-coupon .exchange-form {
  height: 4.266667rem;
  padding: .4rem .666667rem .666667rem;
  border-bottom: .186667rem solid #f4f4f4;
}

.delivery-coupon .exchange-form .exchange-form__input-container {
  display: flex;
  margin-bottom: .586667rem;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.delivery-coupon .exchange-form .exchange-form__input-container span {
  display: flex;
  align-items: center;
}

.delivery-coupon .exchange-form .exchange-form__input-container span img {
  width: .36rem;
  height: .38rem;
}

.delivery-coupon .exchange-form .exchange-form__input-container .exchange-form__input {
  padding: 0 .426667rem 0 .586667rem;
  width: 100%;
  height: .72rem;
  line-height: .72rem;
  font-size: .3rem;
  color: #999;
  border: 0;
}

.delivery-coupon .submit-form__button--disabled {
  opacity: .5;
  width: 100%;
  height: .82rem;
  background: #6eb042;
  color: #fff;
  border-radius: 10px;
  font-size: .56rem;
  letter-spacing: .106667rem;
  text-align: center;
  outline: none;
  border: 0;
}

.delivery-coupon .submit-form__button--disabled font {
  font-size: 0.5rem;
}

.delivery-coupon img {
  height: 3.2rem;
}
