
    .nav {
        height:4.36rem;
        background: white;
    ul{
        padding: 0 0 .2rem .14rem;
        float: left;
        li{
            width: 1.67rem;
            height: 1.7rem;
            margin: 0 .06rem .14rem 0;
            float: left;
            img{
                width: 1.7rem;
                height: 1.7rem;
            }
        }
    }
}
    
