.PagewHeader{
    background:white;
    height: 0.86rem;
    margin-top: 0.91rem;
    ul{
        display: flex;
        list-style: none;
        li{
            height: 100%;
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            list-style: none;
            a{
                margin-top:0.22rem;
                font-size: .27rem;
                color: #666666;
                text-decoration: none;
                height: 100%;
               
            }
        }
    }
}

.PagewHeader_active{
    position: fixed;
    width:100%;
    top:0px;
    left:0px;
    height: 50px;
}

.active{
    padding: .05rem .4rem;

    background: #fee9dc;
    border-radius: .23rem;
}
