div{
    .header{
        img{
            width: 100%;
        }
    }
    .main{
        background: #fff;
        .get-red {
            position: relative;
            text-align: center;
            img{
                width: 100%;
            }
    
        
        }
        
    }
   img{
    width: 100%;
}
}